/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: var(--main-font-weight, 400);
}

.page-section {
  inline-size: var(--header-inline-size);
  margin: auto;
}

.page-header {
  margin-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  background-color: var(--bg-color, #fff);
}

.header-logo {
  font-size: var(--logo-font-size);
  margin-block-end: 20px;
  text-align: center;
}

.header-title {
  font-size: var(--title-font-size);
  text-align: center;
  text-transform: uppercase;
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  font-size: var(--main-font-size);
}

.card-title {
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: var(--accent-font-weight, 715);
}

.card-image-container {
  position: relative;
}

.image-decor-text {
  position: absolute;
  color: var(--accent-color, #000);
  font-family: var(--accent-font);
  font-variation-settings: var(--main-font-weight, 400);
  font-size: 14px;
  -webkit-text-stroke: 2px #fff;
  paint-order: stroke fill;
  opacity: 50%;
  right: 25px;
  top: 25px;
}

.image-content {
  inline-size: 100%;
  display: block;
}

.description-text {
  margin: 25px;
}

