/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: var(--main-font-weight, 400);
}

.page-section {
  inline-size: var(--inline-size);
  margin: auto;
}

.page-header {
  margin-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  background-color: var(--bg-color, #fff);
  margin-block-start: 100px;
}

.header-logo {
  font-size: var(--logo-font-size);
  margin-block-end: 20px;
  text-align: center;
}

.header-title {
  font-size: var(--title-font-size);
  text-align: center;
  text-transform: uppercase;
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  font-size: var(--main-font-size);
  margin-block-end: 50px;
}

.card-title {
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: var(--accent-font-weight, 715);
  border-block-end: 2px solid #000;
}

.card-image-container {
  position: relative;
  border-block-end: 2px solid #000;
}

.image-decor-text {
  position: absolute;
  color: var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  font-variation-settings: var(--main-font-weight, 400);
  font-size: 14px;
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
  opacity: 50%;
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports ((text-stroke: 2px var(--stroke-color)) or (-webkit-text-stroke: 2px var(--stroke-color))) {
  .image-decor-text {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.image-content {
  inline-size: 100%;
  display: block;
}

.description-text {
  margin: 25px;
}

.card-controls {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  gap: 24px;
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-variation-settings: var(--main-font-weight, 400);
  cursor: pointer;
}

.card__icon-button {
  background-color: transparent;
}

.card__icon-button {
  inline-size: 27px;
  block-size: 24px;
  border: none;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  width: 130px;
  height: 38px;
}

.footer {
  
}

