/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: var(--main-font-weight, 400);
}

.page-section {
  inline-size: var(--inline-size);
  margin: auto;
}

.page-header {
  margin-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  background-color: var(--bg-color, #fff);
  margin-block-start: 100px;
}

.header-logo {
  font-size: var(--logo-font-size);
  margin-block-end: 20px;
  text-align: center;
}

.header-title {
  font-size: var(--title-font-size);
  text-align: center;
  text-transform: uppercase;
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  font-size: var(--main-font-size);
  margin-block-end: 50px;
}

.card-title {
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: var(--accent-font-weight, 715);
  border-block-end: 2px solid #000;
}

.card-image-container {
  position: relative;
  border-block-end: 2px solid #000;
}

.filter-blur {
  filter: blur(3px);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-invert {
  filter: invert(100%);
}

.filter-saturate {
  filter: saturate(390%);
}

.filter-sepia {
  filter: sepia(0.9);
}

.image-decor-text {
  position: absolute;
  color: var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  font-variation-settings: var(--main-font-weight, 400);
  font-size: 14px;
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
  opacity: 50%;
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports ((text-stroke: 2px var(--stroke-color)) or (-webkit-text-stroke: 2px var(--stroke-color))) {
  .image-decor-text {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.image-content {
  inline-size: 100%;
  display: block;
}

.description-text {
  margin: 25px;
}

.card-controls {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  gap: 18px;
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-variation-settings: var(--main-font-weight, 400);
}

.card__icon-button {
  inline-size: 27px;
  block-size: 24px;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color, #fff);
  width: 130px;
  height: 38px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.footer-button::before,
.button-dialog-save::before,
.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.footer-button:hover::before,
.button-dialog-save:hover::before,
.card__like-button:hover::before {
  transform: scaleX(1);
}

.footer {
  margin-block-end: 100px;
  justify-self: center;
  background-color: #fff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  gap: 8px;
  padding: 17px 20px;
  cursor: pointer;
  position: relative;
}

.footer-button:focus {
  outline: none;
}

.footer-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.icon {
  inline-size: 28px;
  position: relative;
  mix-blend-mode: difference;
}

.icon-memory {
  inline-size: 39px;
}

.footer-dialog {
  inline-size: 353px;
  padding: 0;
}

.footer-dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

.dialog-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  padding: 30px 40px;
  align-items: center;
}

.button-dialog-save {
  display: grid;
  padding: 12px 116px;
  margin-block-end: 30px;
  outline: none;
  background-color: var(--bg-color, #fff);
}

.button__text {
  font-family: 'PressStart2P', fantasy;
  color: var(--text-color,);
  font-size: var(--footer-font-size);
  line-height: 150%;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button__text:focus {
  outline: none;
  border: none;
}

.button__text:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.footer-button-text-save {
  text-transform: uppercase;
}

@media (width <= 375px ) {
  .footer-button {
    flex-direction: column;
  }

  .icon {
    inline-size: 21px;
  }
}



