/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--main-font-weight, 410);
}

.page-section {
  inline-size: var(--inline-size);
  margin: auto;
}

.page-header {
  margin-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), fantasy;
  border: 2px solid #000;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  background-color: var(--bg-color, #fff);
  margin-block-start: 100px;
}

.header-logo {
  font-size: var(--logo-font-size);
  margin-block-end: 20px;
  text-align: center;
}

.header-title {
  font-size: var(--title-font-size);
  text-align: center;
  text-transform: uppercase;
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  font-size: var(--main-font-size);
  margin-block-end: 50px;
}

.card-title {
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--accent-font-weight, 715);
  border-block-end: 2px solid #000;
}

.card-image-container {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-block-end: 2px solid #000;
}

.filter-blur {
  filter: blur(3px);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-invert {
  filter: invert(100%);
}

.filter-saturate {
  filter: saturate(390%);
}

.filters-sepia-grayscale {
  filter: sepia(0.9) grayscale(50%);
}

.like-icon.is-liked .heart {
  animation: scale-up 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparkles {
  animation: sparkles-pop-up 0.3s ease-in 0.3s 1;
}

.contour {
  transition: linear 0.1s 0s;
}

.core {
  fill: transparent;
  transition: linear 0.3s 0.03s;
}

.main-body {
  fill: transparent;
  transition: linear 0.3s 0s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: linear 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: linear 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: linear 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: linear 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: linear 0.3s 0.06s;
}

.sparkles {
  opacity: 0;
}

.image-decor-text {
  position: absolute;
  color: var(--accent-color, #000);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
  opacity: 50%;
  right: 25px;
  top: 25px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports ((text-stroke: 2px var(--stroke-color)) or (-webkit-text-stroke: 2px var(--stroke-color))) {
  .image-decor-text {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.image-content {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.description-text {
  margin: 25px;
}

.card-controls {
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  gap: 18px;
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-variation-settings: 'wght' var(--buttons-font-weight, 400);
}

.card__icon-button {
  inline-size: 27px;
  block-size: 24px;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
  overflow: hidden;
}

.button {
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: 'PressStart2P', fantasy;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transform-origin: top left;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 15px 20px;
  gap: 8px;
  margin-block-end: 100px;
}

.icon {
  inline-size: 21px;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

.icon-memory {
  inline-size: 39px;
}

.footer-dialog {
  inline-size: 353px;
  padding: 0;
}

.footer-dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

.dialog-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  padding: 30px 40px;
  align-items: center;
}

.button-dialog-save {
  display: grid;
  padding: 6px 114px;
  margin-block-end: 30px;
  outline: none;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: 'PressStart2P', fantasy;
  font-size: var(--footer-font-size);
  font-variation-settings: 'wght' var(--buttons-font-weight, 400);
  line-height: 150%;
  color: #fff;
  mix-blend-mode: difference;
}

.footer-button-save {
  text-transform: uppercase;
}

@media (width <= 375px ) {
  .footer-button {
    flex-direction: column;
  }

  .icon {
    inline-size: 28px;
  }
}



